@import url('../../style/utils/icon.css');

.container_header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color-opa) !important;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.header {
  height: 80px;
}

.logo a {
  font-size: 1.5em;
  font-weight: 700;
}

.header_icon {
  width: 20px !important;
  height: 20px !important;
}

.header_items > a {
  color: var(--text-opa-color);

  &:hover {
    color: var(--text-color);
  }
}
